# Active test environment (affects which .env.<env> file is loaded, e.g. .env.qa or .env.dev)
TEST_ENV=qa

# Target API URL loaded by the core framework
API_URL=https://jsonplaceholder.typicode.com

# Authorization Token (if using static Bearer tokens)
BEARER_TOKEN=your_auth_token_here
